@font-face {
    src: url(../../vendor/fonts/CabinetGrotesk-Regular.otf) format('opentype');
    font-family: 'Cabinet Grotesk';
}

.card {
    display: flex;
    position: relative;
    justify-content: center;
    width: 323px;
    height: 328px;
}

.card:hover {
    cursor: pointer;
}

.card__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    top: 15px;
    position: absolute;
    opacity: 60%;
    background-color: #fff;
    width: 73px;
    height: 24px;
    border-radius: 4px;
}

.card__image {
    border-radius: 14px;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    width: 100%;
}