@font-face {
    src: url(../../vendor/fonts/CabinetGrotesk-Regular.otf) format('opentype');
    font-family: 'Cabinet Grotesk';
}

.weather-card {
    display: flex;
    position: relative;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
    font-family: "Cabinet Grotesk", sans-serif;
    cursor: pointer;
}

.weather-card__temp {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 16px;
}

.weather-card__img{
    object-fit: cover;
    object-position: right top;
    width: 100%;
}