@font-face {
  src: url(../../vendor/fonts/CabinetGrotesk-Regular.otf) format("opentype");
  font-family: "Cabinet Grotesk";
}

.app {
  background-color: #f3f3f3;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 700;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}