@font-face {
    src: url(../../vendor/fonts/CabinetGrotesk-Regular.otf) format('opentype');
    font-family: 'Cabinet Grotesk';
}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

.card__text {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 34px;
}