.header {
    display: flex;  
    align-items: center;
    padding: 32px 0 28px;
    font-size: 20px;   
}

.header__avatar:hover {
  cursor: pointer;
}


.header__logo {
    margin-right: 24px;
    cursor: pointer;
}

.header__link {
    text-decoration: none;
    color: #000;
}

.header__date-location {
    margin: 0;
    cursor: pointer;
}

.header__add-clothes-btn {
    margin: 0 20px 0 0;
    border: none;
    cursor: pointer;
}

.header__add-clothes-btn:hover {
    opacity: 70%;
    transition: ease-in-out 0.3s;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__username {
    margin: 0;
    cursor: pointer;
}

.header__username:hover {
    opacity: 70%;
    transition: ease-in-out 0.3s;
}