@font-face {
    src: url(../../vendor/fonts/CabinetGrotesk-Regular.otf) format('opentype');
    font-family: 'Cabinet Grotesk';
}

.header {
    display: flex;  
    align-items: center;
    padding: 32px 0 28px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Cabinet Grotesk", sans-serif;
}

.header__avatar:hover {
  cursor: pointer;
}


.header__logo {
    margin-right: 24px;
    cursor: pointer;
}

.header__date-location {
    margin: 0;
    cursor: pointer;
}

.header__add-clothes-btn {
    margin: 0 20px 0 0;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.header__add-clothes-btn:hover {
    opacity: 70%;
    transition: ease-in-out 0.3s;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__username {
    margin: 0;
    cursor: pointer;
}

.header__username:hover {
    opacity: 70%;
    transition: ease-in-out 0.3s;
}