.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  
}

.sidebar__avatar {
  width: 54px;
  height: 54px;
  border: rgba(0, 0, 0, 0.5) 1px solid;
}

.sidebar__username {
  font-size: 20px;
}
