.modal__switch-row {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.modal__switch-btn {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  padding: 0;
  margin: 12px 0 0 0;
}
