.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
  padding: 0;
  max-width: 1015px;
  margin: 0 auto;
}

.clothes-section__item {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.clothes-section__btn {
  border: none;
  background: transparent;
  font-size: 20px;
  opacity: 60%;
}

.clothes-section__btn:hover {
  cursor: pointer;
}

.clothes-section__text {
  font-size: 20px;
}
